<h1>Accedi a Catania.rb</h1>

<% form_tag session_path do -%>
<p><label for="login">Entra</label><br/>
<%= text_field_tag 'login' %></p>

<p><small>Il tuo login &egrave; case sensitive ed &egrave; identico a quello usato in fase di <%= link_to 'registrazione', signup_path %> .</small></p>

<p><label for="password">Password</label><br/>
<%= password_field_tag 'password' %></p>

<p><label for="remember_me">Ricorda password </label>
<%= check_box_tag 'remember_me', 1, true %></p>

<p>
  <%= submit_tag 'Entra' %>
  oppure
  <%= link_to 'Registra il tuo account', signup_path, :title => 'Ci vogliono solo 15 secondi :)' %>  
</p>
<% end -%>
