<% form_for(item) do |f| %>
  <%= error_messages_for :item %>

  <blockquote class="comment">
  
    <% if logged_in? %>
      <p>Loggato come <strong><%= current_user.login %></strong></p>
    <% else %>
      <p class="description">
      Se sei un utente registrato, effettua il <%= link_to 'log in', login_url %> per popolare i seguenti campi automaticamente.
      </p>
      <p>
        <%= f.text_field :byline %>
        <label for="byline" class="title">Autore<span class="hint">(richiesto)</span></label>
      </p>
    <% end %>
  
    <p>
      <label for="title" class="title">Titolo</label><br/>
      <%= f.text_field :title %>
      <br/><span class="hint"><small>(usato per archivare la pagina e cose del genere)</small></span>
    </p>
  
    <p class="formatting-help">
      <strong>Se vuoi puoi usare i seguenti tags HTML per formattare il tuo post:</strong><br />
      <code style="font-size: 80%;">
        &lt;a href=&quot;&quot;&gt; &lt;b&gt; &lt;blockquote&gt; &lt;code&gt; &lt;em&gt; &lt;i&gt; &lt;strong&gt;
      </code>
     <%= f.text_area :content, :cols => 60, :rows => 15 %>
      <br/>
      <small><em>Per adesso <b>devi usare HTML</b>, Textile o Markdown non sono supportati.</em></small>
    </p>

    <%= render :partial => 'home/signup_captcha' unless logged_in? %>
    
    <p><%= f.submit "#{method == 'post' ? 'Invia' : 'Aggiorna'} Notizia" %></p>
</blockquote>
<% end %>
